executor.name = 'slurm'

process {
    // Resource specifications that apply to all processes
    cpus = 1
    memory = 3.GB

    withName: FastQC {
        module = 'fastqc/0.12.1'
    }
    withName: FilterSummaries {
        module = 'conda_R/4.3'
    }
    withName: GatherSummaries {
        module = 'python/3.9.14'
    }
}
